<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  # HSTS (Strict-Transport-Security) - 1 year
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  
  # Clickjacking Protection
  Header set X-Frame-Options "SAMEORIGIN"
  
  # Content Type Sniffing Protection
  Header set X-Content-Type-Options "nosniff"
  
  # XSS Protection
  Header set X-XSS-Protection "1; mode=block"
  
  # Referrer Policy
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>